# Environment variables
.env

# Dependencies
node_modules/

# Generated audio files
public/*.mp3

# Google Cloud credentials
google-credentials.json

# OS files
.DS_Store

# Logs
*.log
npm-debug.log*

# Local database
/db.json

# Temp audio files
/tmp
*.mp3
